parameters:
	ignoreErrors:
		-
			message: "#^Unreachable statement \\- code above always terminates\\.$#"
			count: 1
			path: src/CacheUtil.php

		-
			message: "#^Result of \\|\\| is always false\\.$#"
			count: 1
			path: src/Header/CacheControl.php

		-
			message: "#^Unsafe usage of new static\\(\\)\\.$#"
			count: 1
			path: src/Header/CacheControl.php
